

<%= form_for @survey ,:url=>{:action=>:create} do |f| %>
    <%#= f.error_messages %>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <%= f.fields_for :questions do |builder| %>
        <%= render "question_fields", :f => builder %>
    <% end %>
    <%= f.fields_for :book do |builders| %>
        <%= render "book_fields", :g => builders %>
    <% end %>
    <p><%= f.submit "Submit" %></p>
<% end %>


