 <h2>Sign Up Form</h2>

<table cellspacing="0" >
<%= form_for @user ,:url=>{:action=>"signup"} do |t| %>
      <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this Users Details from being saved:</h2>

            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
    <tr><td><%= t.label :name %></td><td> <%= t.text_field :name, :size => 20%></td></tr>
      <tr><td><%= t.label :password %></td><td><%= t.password_field :password ,:size => 20%></td></tr>
      <tr><td><%= t.label :date_of_birth %></td><td><%= t.date_select :date_of_birth ,:start_year => 1975%></td></tr>
      <tr><td><%= t.label :phone_number %></td><td><%= t.phone_field :phone_number,:size => 20%></td></tr>
      <tr><td><%= t.label :email %></td><td><%= t.email_field :email,:size => 20%></td></tr>
      <tr><td><%= t.label :email_confirmation %></td><td><%= t.email_field :email_confirmation,:size => 20 %></td></tr>
      <tr><td><%= t.label :company_address %></td><td><%= t.text_area :company_address ,:size => "20x5"%></td></tr>
      <tr><td><%= t.label :role_id %></td><td><%= t.collection_select :role_id ,Role.limit(2),:id,:role_name%></td></tr>
      <tr><td><%= t.label :terms_of_service %></td><td><%= t.check_box :terms_of_service  %>  </td></tr>
      <tr><td></td><td><%= t.submit "Signup" %></td></tr>
<%end %>
</table>