<!DOCTYPE html>
<html>
<head>
  <title>OnlineDepot</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "jquery-ui" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-ui" %>
  <%= javascript_include_tag "jquery-1.8.2" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%#= show_flash %>
<% if session[:user_id]!=nil%>
   <%= link_to "logout" ,:controller =>"user",:action=>"logout" %>
    <%else%>
    <%= link_to "Login" ,:controller =>"user",:action=>"login" %>
    <%= link_to "Sign up" ,:controller =>"user",:action=>"signup" %>
<%end%>
<%= yield %>

</body>
</html>
